@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --yellow: #ffd158;
  --black: #1b1b1b;
  --gray: #7a7a7a;
  --bg-color: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h5,
.recipes-count {
  font-family: 'Anton', 'Open Sans', sans-serif !important;
}

body {
  background-color: var(--bg-color) !important;
}

.dropdown-count-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* header */
.hero {
  background-image: url('../assets/background-header.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 30rem;
}

.hero__logo {
  width: 15rem !important;
}

.hero__title {
  color: var(--yellow);
  text-align: center;
  align-self: center;
}

.search-form-wrapper,
.search-form {
  display: contents;
}

.hero__search {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  align-self: center;
}

.hero__search input {
  padding-left: 2rem;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
}

.hero__search button {
  border: 0;
  width: 60px;
  height: 60px;
  background-color: var(--black);
  color: #fff;
  font-size: 2rem;
}

/* Cards */
.recipes-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card {
  width: 25rem;
  margin: auto;
  min-height: 750px;
  border-radius: 2rem !important;
}

.card img {
  object-fit: cover;
  height: 250px;
  border-radius: 2rem 2rem 0 0;
}

.card h5 {
  color: black;
}

.card h6,
.quantity {
  color: var(--gray);
}

.card__time {
  background-color: #ffd15b;
  border-radius: 2rem;
  position: absolute;
  right: 0;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.card__ingredients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* dropdown */
.dropdown-filter-wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  text-align: left;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  width: 200px;
}

/* recipes-count */
.recipes-count {
  margin: auto;
}

/* tag */
.tags-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tag {
  background-color: var(--yellow);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  height: 50px;
  width: 150px;
  padding: 0 1rem;
}

.tag > p {
  margin: auto 0;
  text-align: center;
}

.tag-btn {
  background: none;
  border: none;
}
