@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --yellow: #ffd158;
  --black: #1b1b1b;
  --gray: #7a7a7a;
  --bg-color: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Anton', 'Open Sans', sans-serif !important;
}

/* header */
.hero {
  background-image: url('../assets/background-header.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 30rem;
}

.hero__logo {
  width: 15rem !important;
}

.hero__title {
  color: var(--yellow);
  text-align: center;
  align-self: center;
}

.search-form-wrapper,
.search-form {
  display: contents;
}

.hero__search {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  align-self: center;
}

.hero__search input {
  padding-left: 2rem;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
}

.hero__search button {
  border: 0;
  width: 60px;
  height: 60px;
  background-color: var(--black);
  color: #fff;
  font-size: 2rem;
}
